@import "header.css";
@import "card.css";
@import "footer.css";
@import "modal.css";
@import url(https://fonts.googleapis.com/css?family=Aboreto);
body {
  font-family: "Aboreto";
  font-weight: 600;
  margin: 0px;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: main;
}
.item3 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer";
}

.grid-container > div {
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: stretch;
}

.flex-container > div {
  color: black;
  margin: 1px;
  text-align: center;
  line-height: 35px;
}
