.newArrival-container {
  position: relative;
  text-align: center;
  color: white;
  margin: 0px;
}

.newArrival-grid {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  gap: 0;
}

.newArrival-grid img {
  width: 100%;
}

.textOnNewArrival {
  font-size: 80px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: textOnNewArrival 1s ease-in-out infinite alternate;
}

@-webkit-keyframes textOnNewArrival {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@media only screen and (max-width: 1024px) {
  .textOnNewArrival {
    font-size: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .textOnNewArrival {
    font-size: 55px;
  }
}

@media only screen and (max-width: 425px) {
  .textOnNewArrival {
    font-size: 30px;
  }
}
